[submodule "Krushimitra-ai-agent"]
	path = Krushimitra-ai-agent
	url = https://github.com/Gyana491/krushimitra-ai-agent.git
[submodule "kishancallvectordb"]
	path = kishancallvectordb
	url  = https://github.com/Gyana491/kishancallvectordb.git
	